/* Adicione este código CSS ao seu arquivo de estilos */

/* Estilos para a tabela de listagem de filmes */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #e50914;
    color: #fff;
}

td img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para os links de ações */
td a, .but {
    text-decoration: none;
    color: #e50914;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #e50914;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

td a, .but:hover {
    background-color: #e50914;
    color: #fff;
}

/* Estilos para o cabeçalho da tabela em telas menores */
@media screen and (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }

    th {
        text-align: left;
    }

    td {
        text-align: center;
    }
}
